<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <%- include('partials/public') %>
    <style>
      .homedash button {
        font-size: 25px;
        padding: 10px;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.421);
        border-radius: 5px;
      }
      .homedash a {
        font-size: 25px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.234);
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.421);
        padding: 10px;
        background-color: rgb(108, 173, 238);
        transition: 0.3s background-color;
        border-radius: 5px;
      }
      .homedash a:hover {
        background-color: rgb(90, 139, 189);
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <% if(!user){ %>
      <div class="heading">
        <h1>
          "Creating seamless opportunities for professionals to connect and
          grow."
        </h1>
        <hr />
        <div class="btns">
          <a href="http://localhost:5000/login">Log in</a>
          <h2>or</h2>
          <a href="http://localhost:5000/signup">Sign up</a>
        </div>
      </div>
      <% }else{ %>
      <div class="heading">
        <h1>
          <% user.forEach((element)=>{ %>
          <p>
            <%= element.name.split(" ")[0] %> you have applied for <%= applied
            %> jobs.
          </p>
          <% }) %>
        </h1>
        <div class="homedash">
          <a href="http://localhost:5000/dashboard/jobseeker">My Dashboard</a>
          <form action="/logout" method="post">
            <button class="logout-button" id="logoutButton">Logout</button>
          </form>
        </div>
        <hr />
      </div>
      <% } %>

      <div class="jobs">
        <% jobs.forEach((job)=>{ %>
        <div class="job">
          <div class="jobpart">
            <div class="job-heading">
              <h2><%= job.title %></h2>
            </div>
            <div class="job-type">
              <h3 class="job-type"><%= job.type %></h3>
            </div>
            <div class="skills"><%= job.skills %></div>
          </div>
          <div class="details">
            <a
              href="http://localhost:5000/home?job_id=<%= job.pid %>"
              class="details-btn detailed"
              >Details</a
            >
            <% if(!user){ %>
            <button
              class="details-btn apply"
              id="applynonuser"
              class="nonuser"
              onclick="alertuser()"
            >
              Apply
            </button>
            <% }else{ %>
            <a
              href="http://localhost:5000/home/apply?job_id=<%= job.pid %>"
              class="details-btn apply"
              >Apply</a
            >
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
    <%- include('partials/footer') %>
    <script>
      function alertuser() {
        alert("Please log in as a Job Seeker first!");
      }
    </script>
  </body>
</html>
