<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <%- include('partials/public') %>
    <style>
      .smallcontainer {
        display: flex;
      }
      .smallcontainer input {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="personedit">
        <form
          action="/dashboard/jobseeker/edit?jid=<%= seeker_uid %>"
          method="POST"
        >
          <% seeker.forEach((person)=>{ %>
          <div class="smallcontainer">
            <label for="name"><b>Name: </b></label>
            <input type="text" value="<%= person.name %>" name="name" />
          </div>
          <div class="smallcontainer">
            <label for="phone"><b>Phone: </b></label>
            <input type="text" value="<%= person.phone %>" name="phone" />
          </div>
          <div class="smallcontainer">
            <label for="email"><b>Email: </b></label>
            <input type="text" value="<%= person.email %>" name="email" />
          </div>
          <div class="smallcontainer">
            <label for="skills"><b>Skills: </b></label>
            <input type="text" value="<%= person.skills %>" name="skills" />
          </div>

          <button
            type="submit"
            class="details-btn apply"
            style="margin-top: 10px; margin-bottom: -10px; cursor: pointer"
          >
            Submit
          </button>
          <% }) %>
        </form>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
