<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job View</title>
    <%- include('partials/public') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="jobs">
        <h1>Job Title: <%= thejob.title %></h1>
        <h2>Type: <%= thejob.type %></h2>
        <p>Skills: <%= thejob.skills %></p>
        <p>Description: <%= thejob.description %></p>
        <div class="details" style="margin-top: -30px">
          <a
            href="http://localhost:5000/home/apply?job_id=<%= 
            thejob.pid %>"
            class="details-btn apply"
            style="width: max-content; margin-top: 40px"
            >Apply</a
          >
          <a
            href="http://localhost:5000/home"
            class="details-btn detailed"
            style="width: max-content; margin-top: 7px"
            >Go Back to Home</a
          >
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
