<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job View</title>
    <%- include('partials/public') %>
    <style>
      table {
        width: 80%;
        border-collapse: collapse;
        margin: 20px auto;
        background: linear-gradient(to bottom, #abcadea5, #ddf5f9);
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #f4f4f4;
        font-weight: bold;
      }
      select {
        font-size: 17px;
        width: 80%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="jobs">
        <h1>Job Title: <%= job[0].title %></h1>
        <h2>Type: <%= job[0].type %></h2>
        <p>Skills: <%= job[0].skills %></p>
        <p>Description: <%= job[0].description %></p>

        <div class="details">
          <a
            href="http://localhost:5000/recruiter/postedjobs"
            class="details-btn detailed"
            style="width: max-content; margin-top: 20px; margin-bottom: 40px"
            >Go Back to Jobs</a
          >
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Email</th>
                <th>Resume Link</th>
                <th>Interview Session</th>
              </tr>
            </thead>
            <tbody>
              <% names.forEach((name)=>{ %>
              <tr>
                <td><%= name.name %></td>
                <td><%= name.status %></td>
                <td><%= name.email %></td>
                <td>
                  <a
                    href="http://localhost:5000//<%= name.path_link %>"
                    target="_blank"
                    >Link</a
                  >
                </td>
                <% if(name.interview_session===null){ %>
                <input
                  type="hidden"
                  id="app_id"
                  value="<%= name.application_id %>"
                />
                <td class="intform">
                  <select
                    id="interviewdetails"
                    class="interviewdetails"
                    name="interviewdetails"
                  >
                    <option
                      value="notdefined_<%= name.application_id %>"
                      selected
                    >
                      Not Defined
                    </option>
                    <% interviews.forEach((interview)=>{ %>
                    <option
                      value="<%= interview.interview_id %>_<%= name.application_id %>"
                    >
                      <%= interview.interview_id %>
                    </option>
                    <% }) %>
                  </select>
                </td>
                <% }else{ %>
                <input
                  type="hidden"
                  id="app_id"
                  value="<%= name.application_id %>"
                />
                <td class="intform">
                  <select
                    id="interviewdetails"
                    class="interviewdetails"
                    name="interviewdetails"
                  >
                    <option value="notdefined_<%= name.application_id %>">
                      Not Defined
                    </option>
                    <% interviews.forEach((interview)=>{ %> <%
                    if(interview.interview_id == name.interview_session){ %>
                    <option
                      value="<%= interview.interview_id %>_<%= name.application_id %>"
                      selected
                    >
                      <%= interview.interview_id %>
                    </option>
                    <% }else{ %>
                    <option
                      value="<%= interview.interview_id %>_<%= name.application_id %>"
                    >
                      <%= interview.interview_id %>
                    </option>
                    <% }}) %>
                  </select>
                </td>
                <% } %>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
    <script>
      const interviewselect = document.querySelectorAll(".interviewdetails");
      const application_id = document.getElementById("app_id");
      interviewselect.forEach((btn) => {
        btn.addEventListener("change", () => {
          const lis = btn.value.split("_");
          const interid = lis[0];
          const app_id = lis[1];
          if (interid == "notdefined") {
            fetch(
              `http://localhost:5000/recruiter/changeinterviewsession?app_id=${app_id}&interviewselect=null`
            )
              .then((res) => console.log(res))
              .catch((err) => console.log(err));
          } else {
            fetch(
              `http://localhost:5000/recruiter/changeinterviewsession?app_id=${app_id}&interviewselect=${interid}`
            )
              .then((res) => console.log(res))
              .catch((err) => console.log(err));
          }
        });
      });
    </script>
  </body>
</html>
